@import 'tailwindcss';

:root {
  --background: #d9d9d9;
  --primary: #000000;
  --secondary: #070a52;
  --third: #353535;
  --accent: #df2e38;
  --accent-second: #af2d2d;
  --theme-btn: var(--primary);
}

.dark {
  --background: #353535;
  --primary: #ffffff;
  --secondary: #bebfd1;
  --third: #d9d9d9;
  --accent: #2751a3;
  --accent-second: #6881d8;
  --theme-btn: #6f6f6f;
}

@theme inline {
  --font-inter: 'Inter', sans-serif;
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-accent: var(--accent);
  --color-accent-second: var(--accent-second);
  --color-theme-btn: var(--theme-btn);

  --text-*: initial;
  --text-sm: 0.7rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.35rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.85rem;
  --text-4xl: 2rem;

  --spacing: 0.2rem;

  --radius-*: initial;
  --radius-xl: 0.7rem;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.2;
  }
}
